//CUSTOM VAEIABLES
$primary: rgba(218, 227, 229, 0.48);
$success: rgb(4, 165, 4);
$warning: rgba(238, 222, 211, 0.446);
$danger: rgb(255, 203, 203);
$secondary: rgba(238, 239, 232, 0.446);
$info: rgb(245, 109, 131);


//IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';