@media(max-width: 425px){
    .badges{
        display: none !important;
    }
}

.product-img{
    height: 20rem;
}

.blog{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.scale-hover1 {
    transition: transform 0.2s ease;
}

.scale-hover1:hover {
    transform: scale(1.05);
}