.scale-hover {
    transition: transform 0.5s ease;
}

.scale-hover:hover {
    transform: scale(1.1);
}

.scale-hover1 {
    transition: transform 0.5s ease;
}

.scale-hover1:hover {
    transform: scale(1.02);
}